/* CST-126 Blog Project Version 0.1, Milestone 1 Version 1.0, William Thornton, 05/31/2019 */
body{
background-image: url("sitebg.png");
color: black;
}

.small{
color: black;
font-size: 1rem;
}

.nav-font{
color:black;
font-size:2rem;
}

.signup {
font-family: Montserrat, sans-serif;
font-color: black;
line-height: 1.5;
font-size: 1rem;
margin-left: 40%;
margin-top: 200px;
border-width: 5px;
border-style: solid;
border-radius: 25px;
padding: 20px;
width: 350px;
background: rgba(76, 175, 80, 0.3)
}

.submission {
margin-top: 20px;
margin-left: 180px;
}

.small {
	width: 300px;
}

.nav {
background: rgba(76, 175, 80, 0.3)
}